
<label class="General_MainFrameHeading">Add Friend</label>
@using (Html.BeginForm("MakeConnectionAsync", "Messenger", FormMethod.Post)) {
    <input type="text" name="Name" />
    <input class="WaitFor" type="submit" value="Add Friend" />
}