
<label class="General_MainFrameHeading">Add Chat</label>

<div class="Chat_ContentFrame">
    @using (Html.BeginForm("MakeRequestAsync", "Messenger", FormMethod.Post)) {
        <input type="text" class="General_Inputfield" id="Chat_Inputfield" name="Name" />
        <input class="WaitFor General_Button" type="submit" id="Chat_SubmitButton" value="Add Friend" />
    }
</div>