@model WebMessenger.Models.Connections[]

<label class="General_MainFrameHeading">Chats</label>
@{

    foreach (Connections con in Model) {
        @using (Html.BeginForm("ShowSpecificChatAsync", "Messenger", FormMethod.Post)) {
            <button name="connection" type="submit" value="@con.ConnectionsID">@con.ConnectionsID</button>}
    }

}