<a class="Chat_NavigationButton" asp-controller="Messenger" asp-action="ShowChats">Chats</a>
<a class="Chat_NavigationButton" asp-controller="Messenger" asp-action="ShowRequests">Open Requests</a>
<a class="Chat_NavigationButton" asp-controller="Messenger" asp-action="ShowAddFriend">Add Chat</a>
