@model WebMessenger.Models.Connections[]

<label class="General_MainFrameHeading">Chats</label>
<div class="Chat_ContentFrame">
    @{

        foreach (Connections con in Model) {
            @using (Html.BeginForm("ShowSpecificChat", "Messenger", FormMethod.Post)) {
                <div class="Chat_Display_Entry">
                    <button class="Chat_ConnectionDisplay WaitFor" name="connection" type="submit" value="@con.ConnectionsID">Open</button><label class="Chat_Display_Label">@con.UserA_.Name and @con.UserB_.Name</label>
                </div>
            }
        }
    }
</div>