
@model WebMessenger.Models.User_Chat

@using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
    <div id="toolBox">
       Cool buttons!
    </div>
}


@{
    if (!string.IsNullOrEmpty(Model.selectedChat)) {

        <div id="display">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                @{

                    foreach (WebMessenger.Models.ChatEntry s in Model.Chat) {
                        string link = "https://thetangle.org/transaction/" + s.TransactionID;

                        <tr>
                            <td><a target="_blank" href="@link">link</a></td>
                            <td>@s.Name : @s.Message</td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div id="input">

            @using (Html.BeginForm("SendMessageAsync", "Messenger", FormMethod.Post)) {
                <input id="inputField" type="text" name="Message" id="Message" />

                <input  type="submit" value="Send" />
            }
        </div>
    }

}
