
@model WebMessenger.Models.User_Chat

@if (!string.IsNullOrEmpty(Model.selectedChat)) {
    @using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
        <div class="Chat_ChatPanel_toolBox">
            @using (Html.BeginForm("ChatAsync", "Messenger", FormMethod.Post)) {
                <input type="hidden" name="id" value="@Model.selectedChat" />
                <input class="GeneralButton" type="submit" value="Refresh Chat" />
            }
        </div>
    }
}

@{
    if (!string.IsNullOrEmpty(Model.selectedChat)) {

        <div class="Chat_ChatPanel_Display">
            <table>
                @{
                    foreach (WebMessenger.Models.ChatEntry s in Model.Chat) {
                        string link = "https://thetangle.org/transaction/" + s.TransactionID;
                        <tr>
                            <td id="linkElement">
                                <form target="_blank" action="@link">
                                    <input class="GeneralButton" type="submit" value="Check" />
                                </form>
                            </td>
                            <td id="chatElement">
                                @s.Name : @s.Message
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="Chat_ChatPanel_Input">
            @using (Html.BeginForm("SendMessageAsync", "Messenger", FormMethod.Post)) {
                <input class="Chat_ChatPanel_Inputfield Inputfield" type="text" name="Message" />
                <input type="submit" class="GeneralButton Chat_ChatPanel_SendButton" value="Send" />
            }
        </div>
    }

}
