@model WebMessenger.Models.Connections[]

<label>Chats </label>
<br />
@{

    foreach (Connections con in Model) {
        @using (Html.BeginForm("ShowSpecificChat", "Messenger", FormMethod.Post)) {
            <button name="connection" type="submit" value="@con.ConnectionsID">@con.ConnectionsID</button>}
    }

}