<a asp-controller="Messenger" asp-action="ShowChats">Chats</a>
<a asp-controller="Messenger" asp-action="ShowRequests">Open Requests</a>
<a asp-controller="Messenger" asp-action="ShowAddFriend">Add Friend</a>
