@model WebMessenger.Models.Request[]

<label id="NavBar_OptionPanel_Title">Open Requests</label>

@{
    if (Model != null) {
        if (Model.Length > 0) {
            foreach (Request req in Model) {
                <label>@req.Sender.Name is sending a chat request</label>
            }
        } else {
            <label>No open Requests</label>
        }
    }
}
