@model List<WebMessenger.Models.AddressTable>


<table class="table">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.generatedAddress)
                </td>
            </tr>
        }
    </tbody>
</table>