@model List<WebMessenger.Models.ChatEntry>



<table style="width:100%" border="1">
    <tr>
        <th></th>
        <th></th>
    </tr>

    @{


        foreach (WebMessenger.Models.ChatEntry s in Model) {
            string link = "https://thetangle.org/transaction/" + s.TransactionID;

            <tr>
                <td><a href="@link">link</a></td>
                <td><lable>Message: </lable> @s.Message</td>
            </tr>
        }
    }

</table>

<br /><br /><br />


@using (Html.BeginForm("SendMessageAsync", "Messenger", FormMethod.Post)) {
    <input type="text" name="Message" id="Message" />

    <input type="submit" value="Send" />
}
