<label class="General_MainFrameHeading">Open Requests</label>
<div class="Chat_ContentFrame">
    <div class="Chat_RequestLayout">


        <div class="Chat_RequestLayout">
            <label class="Chat_RequestHeading">Incoming Requests</label>
            <div class="Chat_OverflowEntrys">
                @{
                    Request[] list1 = ViewData["RequestList1"] as Request[];

                    if (list1 != null) {
                        if (list1.Length > 0) {

                            foreach (Request req in list1) {
                                @using (Html.BeginForm("AcceptRequestAsync", "Messenger", FormMethod.Post)) {
                                    for (int i = 0; i < 10; i++) {
                                        <div class="Chat_RequestAcceptDiv">
                                            <label class="Chat_RequestText2">Incoming Request from @req.Sender.Name</label><button class="Chat_ConnectionDisplay WaitFor Chat_RequestEntry" name="connection" type="submit" value="@req.RequestID">Accept</button>
                                        </div>
                                    }
                                }
                            }
                        } else {
                            <label class="Chat_RequestEntry">No Requests</label>
                        }
                    }
                }
            </div>
        </div>

        <label class="Chat_RequestHeading">Outcoming Requests</label>
        <div class="Chat_OverflowEntrys">

            @{
                Request[] list2 = ViewData["RequestList2"] as Request[];
                if (list2 != null) {
                    if (list2.Length > 0) {
                        foreach (Request req in list2) {
                            for (int i = 0; i < 10; i++) {
                                <label class="Chat_RequestEntry Chat_RequestText">@req.Sender.Name</label>
                            }
                        }
                    } else {
                        <label class="Chat_RequestEntry">No open Requests</label>
                    }
                }
            }
        </div>
    </div>


</div>
