
<link href="/css/NavBar.css" rel="Stylesheet" type="text/css" />

<div class="NavBar">
    <label id="NavBar_Title">WebMessenger</label>  <a class="NavBar_Button" asp-controller="Messenger" asp-action="ChatAsync">Chat</a> <a class="NavBar_Button" asp-controller="Messenger" asp-action="Wallet">Wallet</a>
</div>