@model WebMessenger.Models.User;


<link href="/css/NavBar.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript">
    document.body.style.setProperty('--maincolor', "cornflowerblue")
</script>
<script src='https://code.jquery.com/jquery-1.12.4.min.js'>
    $(document).ready(function () {
        $('#btnSubmit').click(function (e) {
            $('#NavBar_OptionPanel').toggle(); //Show or Hide
            e.preventDefault();
        });

    });
</script>

<div class="NavBar">
    <label id="NavBar_Title">WebMessenger</label>
    <a class="NavBar_Button NavBar_leftSide" asp-controller="Messenger" asp-action="ChatAsync">Chat</a>
    <a class="NavBar_Button NavBar_leftSide" asp-controller="Messenger" asp-action="Wallet">Wallet</a>

    @if (Model != null) {
        @if (!string.IsNullOrEmpty(Model.Name)) {
            <div id="NavBar_Logout">
                <label id="NavBar_Text">Hallo @Model.Name</label>
                <a id="btnSubmit" class="NavBar_Button">Settings</a>
                <a class="NavBar_Button" asp-controller="Messenger" asp-action="Logout">Logout</a>
            </div>
        }
    }
</div>

<div id="NavBar_OptionPanel">
    <label>Options</label>



</div>