@model WebMessenger.Models.User;

<link href="/css/NavBar.css" rel="Stylesheet" type="text/css" />
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {

        $("#NavBar_SettingsButton").click(function () {
            $("#NavBar_OptionPanel").toggle();
            var wH = $(window).height() - 64;
            $("#NavBar_OptionPanel").css({ height: wH });
        });

        $(".NavBar_loadingCircle").hide();

        $(".WaitFor").click(function () {
            $(".NavBar_loadingCircle").attr("show", "1");
            $(".NavBar_loadingCircle").show();
        });

    });
</script>

<div class="NavBar">
    <label id="NavBar_Title">WebMessenger</label>

    @if (Model != null) {
        @if (!string.IsNullOrEmpty(Model.Name)) {
            <div id="NavBar_Logout">
                <label id="NavBar_Text">Hi @Model.Name</label>
                <a class="NavBar_Button" id="NavBar_SettingsButton">Settings</a>
                <a class="NavBar_Button" asp-controller="Messenger" asp-action="Logout">Logout</a>
            </div>
        }
    }
</div>

<div id="NavBar_OptionPanel">
    @Html.Partial("_Settings")
</div>

<div class="NavBar_loadingCircle">
    <div id="NavBar_loadingCircle_Panel">
        <label id="NavBar_loadingCircleText">Processing Request</label>
        <img id="NavBar_loadImg" src="~/images/load2.gif" />
    </div>
</div>

@Html.Raw(TempData["msg"])

<script>
    var color = "@Html.ViewData["Color"]";
    document.body.style.setProperty('--maincolor', color);
</script>
