@model int
    <link href="/css/NavBar.css" rel="Stylesheet" type="text/css" />

    <div class="NavBar">
        <div class="Content">
            <font size="6">WebMessenger</font>  <a asp-controller="Messenger" asp-action="Chat">Chat</a> <a asp-controller="Messenger" asp-action="Wallet">Wallet</a>
        </div>
    </div>