<label id="NavBar_OptionPanel_Title">Options</label>

@using (Html.BeginForm("SetSettingsAsync", "Messenger", FormMethod.Post)) {
    <input type="radio" name="color" value="green"> <label>Green</label> <br />
    <input type="radio" name="color" value="cornflowerblue"> <label>cornflowerblue</label> <br />
    <input type="radio" name="color" value="red"> <label>red</label> <br />
    <input type="radio" name="color" value="yellow"> <label>yellow</label> <br />
    <input type="hidden" name="url" value="@Url.RouteUrl(ViewContext.RouteData.Values)" />
    <input type="submit" value="Submit">
}