<label id="NavBar_OptionPanel_Title">Options</label>

@using (Html.BeginForm("SetSettingsAsync", "Messenger", FormMethod.Post)) {
    <div class="NavBar_SettingsBlock">
        <label class="Settings_SubHeading">Choose your Colortheme</label><br />
        <input type="radio" name="color" value="seagreen"> <label>Green</label> <br />
        <input type="radio" name="color" value="cornflowerblue"> <label>Cornflowerblue</label> <br />
        <input type="radio" name="color" value="black"> <label>Black</label> <br />
        <input type="radio" name="color" value="darkorange"> <label>Orange</label> <br />
        <input type="hidden" name="url" value="@Url.RouteUrl(ViewContext.RouteData.Values)" />

    </div>

    <input type="submit" id="Settings_SubmitButton" class="General_Button" value="Submit">
}