@model WebMessenger.Models.User;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

Hello @Model.Name

Add Friend:
@using (Html.BeginForm("AddFriendAsync", "Messenger", FormMethod.Post)) {

    <br /><label>Name</label> @Html.TextBoxFor(model => model.Name)
    <button type="submit">Login</button>

}


