@model WebMessenger.Models.User;

<h2>Add Friend:</h2>

<br />

@using (Html.BeginForm("MakeConnectionAsync", "Messenger", FormMethod.Post)) {

    <br /><label>Name</label> @Html.TextBoxFor(model => model.Name)
    <button type="submit" value="">Add Friend</button>

}


