@model WebMessenger.Models.User_Chat
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavBar")

<link href="/css/Messenger.css" rel="Stylesheet" type="text/css" />

<div class="layout">
    <div class="function">
        <div class="buttonGroup">
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
            <button type="button">Click Me!</button><br />
        </div>
    </div>
    <div class="chat">
        @Html.Partial("_ChatDisplay", Model)
    </div>
</div>





