@model WebMessenger.Models.ViewModel;
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<div id="container" style="width:100%;">

    <div id="left" style="float:left; width:30%;">
        @Html.Partial("_Welcome", Model.User)
    </div>

    <div id="right" style="float:right; width:70%;">
        @Html.Partial("_DisplayTable_AddressTable", Model.AddressList)

        <br />

        @Html.Partial("_DisplayTable_Connections", Model.ConnectionList)
    </div>

</div>

<br /><br />




