:root {
    --maincolor: cornflowerblue;
}

label {
    font-family: Calibri;
    color: white;
    display: block;
    font-weight: bold;
}

button {
    transition: all 0.2s ease-out;
    color: white;
    text-decoration-line: none;
    border: solid;
    border-radius: 3px;
    border-color: white;
    background-color: var(--maincolor);
    font-family: Calibri;
    font-weight: bold;
}

    button:hover {
        background-color: white;
        border-style: solid;
        border-color: white;
        color: var(--maincolor);
    }

td {
    color: white;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.4em;
}


/*CUSTOM CLASSES*/
.Inputfield {
    transition: all 0.2s ease-out;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: var(--maincolor);
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.3em;
    border-style: solid;
    border-color: var(--maincolor);
    text-align: left;
}

    .Inputfield:hover {
        background-color: var(--maincolor);
        border-style: solid;
        border-color: white;
        color: white;
    }

.SubHeadings {
    text-align: center;
    font-size: 2.5em;
}

.GeneralButton {
    color: white;
    text-decoration-line: none;
    outline: 2px solid white;
    border: none;
    background-color: var(--maincolor);
    transition: all 0.2s ease-out;
    font-family: Calibri;
    font-weight: bold;
}

    .GeneralButton:hover {
        background-color: white;
        color: var(--maincolor);
    }
