.Login_Layout {
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    bottom: 30%;
}


.Login_LoginPanel {
    width: 50%;
    height: 100%;
    float: left;
}

.Login_RegisterPanel {
    float: left;
    height: 100%;
    width: 50%;
}

.Login_innerCenter {
    outline-offset: 2px;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: cornflowerblue;
    height: 100%;
}

.Login_subHeadings {
    font-size: 2.5em;
}

.Login_inputRow {
    margin-top: 35px;
    line-height: 30px;
}

    .Login_inputRow input {
        width: 90%;
        height: 25px;
        text-align: left;
        background-color: white;
        border: none;
        border-radius: 3px;
        color: cornflowerblue;
        font-family: Calibri;
        font-weight: bold;
        font-size: 1.3em;
        border-style: solid;
        border-color: cornflowerblue;
    }

    .Login_inputRow input:hover {
        background-color:cornflowerblue;     
        border-style:solid;
        border-color:white;
        color:white;
    }

    .Login_inputRow label {
        font-size: 1.4em;
        margin-left: 15px;
        text-align: left;
    }

    .Login_inputRow button {
        position: relative;
        bottom: -10px;
        height: 55px;
        width: 130px;
        color: white;
        font-size: 1.4em;
        text-decoration-line: none;
        outline: 2px solid white;
        border: none;
        background-color: cornflowerblue;
        transition: all 0.2s ease-out;
    }

        .Login_inputRow button:hover {
            background-color: white;
            color: cornflowerblue;
        }
