.Login_Layout {
    position: absolute;
    top: 24%;
    left: 20%;
    right: 20%;
    bottom: 20%;
}


.Login_LoginPanel {
    width: 50%;
    float: left;
}

.Login_RegisterPanel {
    float: left;
    height: 100%;
    width: 50%;
}

.Login_innerCenter {
    outline-offset: 2px;
    border-radius: 4px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: var(--maincolor);
    height: 100%;
}

.Login_inputRow {
    margin-top: 25px;
    line-height: 30px;
}

    .Login_inputRow input {
        width: 90%;
    }

    .Login_inputRow label {
        font-size: 1.4em;
        margin-left: 15px;
        text-align: left;
    }

    .Login_inputRow button {
        position: relative;
        bottom: 10px;
        height: 55px;
        width: 130px;
        font-size: 1.4em;
    }

.Login_Smaller {
    margin-top: 20px;
}
