.layout {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    transform: translateY(5%);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 40px;
}

#linkElement {
    width: 100px;
    text-align: center;
}

#chatElement {
    font-family: 'Times New Roman';
    font-size: 1.5em;
}


#display {
    color: white;
    position: absolute;
    bottom: 60px;
    width: 76%;
    margin-left: 10px;
}

.function {
    background-color: cornflowerblue;
    border-radius: 25px;
    float: left;
    width: 20%;
    height: 100%;
}

.chat {
    background-color: cornflowerblue;
    float: left;
    width: 78%;
    height: 100%;
    margin-left: 20px;
    border-radius: 25px;
}

#addFriend {
    position: relative;
    top: 40px;
    width: 100%;
    line-height: 30px;
}

.subHeading {
    margin-left: 5%;
    display: block;
    color: white;
    font-size: large;
    text-align: left;
}

#addFriend input {
    margin-left: 5%;
}

#submitButton {
    width: 100px;
    position: relative;
    bottom: 0px;
    right: 0px;
}

#input {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    width: 100%;
}

#inputField {
    width: 70%;
}

#toolBox {
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

    #toolBox input {
        width: 200px;
        height: 50px;
        font-size: medium;
    }



#headingText {
    display: block;
    color: white;
    font-size: 4em;
    text-align: center;
}

#selectFriend {
    position: relative;
    top: 10%;
}

.inputElement {
    margin-left: 15px;
    width: 150px;
}
