.layout {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    background-color: cornflowerblue;
}

.Chat_ButtonPanel {
    float: left;
    width: 30%;
    height: 100%;
}

.Chat_ChatPanel {
    float: left;
    background-color: green;
    width: 70%;
    height: 100%;
}

.Chat_SubSubHeadings {
    font-size: 1.4em;
}

.Chat_FunctionGroup {
    margin-top: 35px;
    margin-left:10px;
    line-height:30px;
}

.Chat_SubmitButton {
    width:25%;
    position:relative;
    right:-2px;
    bottom: 0px;
}

.Chat_Inputfunction {
    width:70%;
}
