.NavBar {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: var(--maincolor);
}

#NavBar_Title {
    float: left;
    color: white;
    font-size: 3em;
    position: relative;
    left: 15%;
}

.NavBar_Button {
    cursor: pointer;
    float: left;
    position: relative;
    margin-left: 4px;
    height: 100%;
    width: 80px;
    border-color: black;
    color: white;
    font-size: 1.4em;
    text-align: center;
    line-height: 62px;
    text-decoration-line: none;
    transition: all 0.2s ease-out;
    outline: 4px solid white;
    outline-offset: 0px;
    font-family: Calibri;
    font-weight: bold;
}


.NavBar_leftSide {
    left: 20%;
}

.NavBar_Button:hover {
    background-color: white;
    color: var(--maincolor);
}

#NavBar_Logout {
    position: absolute;
    right: 4px;
    top: 0px;
}

#NavBar_Text {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    font-size: 1.7em;
}


#NavBar_OptionPanel {
    background-color: var(--maincolor);
    width: 300px;
    position: absolute;
    top: 64px;
    right: 4px;
    outline-style: solid;
    outline-color: white;
    display: none;
}

#NavBar_OptionPanel_Title {
    font-size: 2em;
    text-align: center;
}

.NavBar_loadingCircle {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1001;
}

#NavBar_loadImg {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}

#NavBar_loadingCircleText {
    color: var(--maincolor);
    top: 10px;
    font-size: 2.4em;
    text-align:center;
    line-height:60px;
}

#NavBar_loadingCircle_Panel {
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}