.layout {
    background-color: orangered;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
}

.function {
    float: left;
    background-color: cadetblue;
    width: 20%;
    height: 100%;
}

.chat {
    float: left;
}

.buttonGroup {
    text-align:center;
    position:relative; 
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

    .buttonGroup button {
    width:200px;
    height:50px;
    
    
    }
