.layout {
    background-color: orangered;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
}

.function {
    float: left;
    background-color: cornflowerblue;
    width: 20%;
    height: 100%;
}

.chat {
    float: left;
    width: 80%;
    background-color: orange;
}

.buttonGroup {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

    .buttonGroup button {
        width: 200px;
        height: 50px;
    }



.input {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    width: 100%;
}

#inputField {
    width: 70%;
}

.display {
    position: absolute;
    bottom: 60px;
    margin-left: 10px;
}

.friends {
    position: absolute;
    top: 10px;
    margin-left: 10px;
}

    .friends input {
        width: 200px;
        height: 50px;
        font-size: large;
    }
