.NavBar {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: cornflowerblue;
}

a {
    margin-left: 50px;
    font-size: x-large;
    color: white;
    text-decoration: none;
}

.Content {
    color: white;
    position: relative;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}



